<% content_for :title, t('armories.compare.page_title') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <main class="text-center armory-page">
            <%= render 'locale_switcher' %>
        <%= render 'page_header', heading: t('armories.compare.heading'), icon_class: nil %>

            <%= render 'menu',
                       current_page: :compare,
                       name: nil,
                       name_a: params[:name_a],
                       name_b: params[:name_b] %>

            <%= render 'compare_search_form' %>

            <% if @error.present? %>
              <%= render 'error_alert',
                         label: t('armories.compare.alerts.error'),
                         message: @error,
                         icon_class: nil,
                         dismissible: false %>
            <% end %>

            <% if @comparison_ready && @result && @result[:values_a].present? && @result[:values_b].present? %>
              <% common_groups = compare_section_groups(@result[:common_annotated]) %>
              <% only_a_groups = compare_section_groups(@result[:only_a_annotated]) %>
              <% only_b_groups = compare_section_groups(@result[:only_b_annotated]) %>

              <!-- Summary Cards -->
              <div class="row mb-4">
                <div class="col-12">
                  <h2 class="mb-3">
                    <i class="fas fa-chart-pie me-2"></i><%= t('armories.compare.summary') %>
                  </h2>
                </div>
              </div>

              <div class="row mb-4">
                <%= render 'compare_summary_card',
                           border_class: 'border-success',
                           header_class: 'bg-success text-white',
                           header_icon_class: 'fas fa-check-circle',
                           title: t('armories.compare.common_attributes'),
                           badge_class: 'bg-light text-success fs-6',
                           total_count: @result[:common].size,
                           special_items: common_groups[:special],
                           regular_items: common_groups[:regular],
                           special_title: t('armories.compare.special_attributes'),
                           regular_icon_class: 'fas fa-equals text-success',
                           collapse_id: 'more-common',
                           empty_text: t('armories.compare.no_common_attributes') %>

                <%= render 'compare_summary_card',
                           border_class: 'border-primary',
                           header_class: 'bg-primary text-white',
                           header_icon_class: 'fas fa-user',
                           title: t('armories.compare.only', name: @result[:name_a]),
                           badge_class: 'bg-light text-primary fs-6',
                           total_count: @result[:only_a].size,
                           special_items: only_a_groups[:special],
                           regular_items: only_a_groups[:regular],
                           special_title: t('armories.compare.special_items'),
                           regular_icon_class: 'fas fa-arrow-right text-primary',
                           collapse_id: 'more-only-a',
                           empty_text: t('armories.compare.no_unique_items') %>

                <%= render 'compare_summary_card',
                           border_class: 'border-info',
                           header_class: 'bg-info text-white',
                           header_icon_class: 'fas fa-user',
                           title: t('armories.compare.only', name: @result[:name_b]),
                           badge_class: 'bg-light text-info fs-6',
                           total_count: @result[:only_b].size,
                           special_items: only_b_groups[:special],
                           regular_items: only_b_groups[:regular],
                           special_title: t('armories.compare.special_items'),
                           regular_icon_class: 'fas fa-arrow-left text-info',
                           collapse_id: 'more-only-b',
                           empty_text: t('armories.compare.no_unique_items') %>
              </div>

              <!-- Detailed Comparison Table -->
              <%= render 'compare_detailed_table', result: @result %>
            <% elsif (params[:name_a].present? ^ params[:name_b].present?) %>
              <div class="alert alert-info" role="alert">
                <i class="fas fa-info-circle me-2"></i>
                <%= t('armories.compare.hints.both_names_required') %>
              </div>
            <% end %>
      </main>
    </div>
  </div>
</div>
