<% content_for :title, t('armories.material_collections.page_title', material: @material_name.presence || '-') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <main class="text-center armory-page">
            <%= render 'locale_switcher' %>

            <%= render 'page_header',
                       heading: t('armories.material_collections.heading', material: @material_name),
                       icon_class: 'fas fa-box-open' %>

            <div class="row justify-content-center mb-3">
              <div class="col-12 text-center">
                <%= link_to t('armories.materials.heading'), materials_armory_path(name: @name), class: 'btn btn-outline-secondary btn-sm me-2' %>
                <%= link_to t('armories.progress.heading'), progress_armory_path(name: @name), class: 'btn btn-outline-secondary btn-sm me-2' %>
                <%= link_to t('armories.compare.actions.back_to_index'), armory_path, class: 'btn btn-outline-secondary btn-sm' %>
              </div>
            </div>

            <% if @error.present? %>
              <%= render 'error_alert',
                         label: t('armories.progress.alerts.error'),
                         message: @error,
                         icon_class: nil,
                         dismissible: false %>
            <% end %>

            <% if @collections_for_material.present? %>
              <%= render 'section_card',
                         title: t('armories.material_collections.list_heading'),
                         icon_class: 'fas fa-list-ul',
                         count: @collections_for_material.size,
                         card_classes: 'mt-3',
                         body_classes: 'p-0' do %>
                <div class="table-responsive">
                  <table class="table table-dark table-hover mb-0 align-middle armory-data-table">
                    <thead>
                      <tr>
                        <th class="border-0"><%= t('armories.material_collections.table.collection') %></th>
                        <th class="border-0 text-center"><%= t('armories.material_collections.table.bucket') %></th>
                        <th class="border-0 text-center"><%= t('armories.progress.badges.progress') %></th>
                        <th class="border-0 text-center"><%= t('armories.progress.badges.missing') %></th>
                        <th class="border-0 text-center"><%= t('armories.material_collections.table.needed') %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @collections_for_material.each do |col| %>
                        <%= render 'material_collections_row', collection: col %>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
            <% else %>
              <%= render 'info_alert',
                         message: t('armories.material_collections.empty', material: @material_name),
                         icon_class: 'fas fa-info-circle',
                         alert_classes: 'mt-4' %>
            <% end %>
      </main>
    </div>
  </div>
</div>
