<% content_for :title, t('armories.materials.page_title') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <main class="text-center armory-page">
            <%= render 'locale_switcher' %>

        <%= render 'page_header', heading: t('armories.materials.heading'), icon_class: nil %>

            <%= render 'menu',
                       current_page: :materials,
                       name: @name,
                       name_a: nil,
                       name_b: nil %>

            <%= render 'character_search_form',
                       url: materials_armory_path,
                       value: params[:name],
                       label: t('armories.progress.form.character'),
                       placeholder: t('armories.progress.form.placeholder'),
                       submit_text: t('armories.progress.form.search'),
                       loading_text: t('armories.shared.loading_search'),
                       turbo_disabled: true %>

            <% if @error.present? %>
              <%= render 'error_alert',
                         label: t('armories.progress.alerts.error'),
                         message: @error,
                         icon_class: nil,
                         dismissible: false %>
            <% end %>

            <% if @materials_by_bucket.present? || @top_materials.present? %>
              <% sections = materials_sections(@materials_by_bucket, @top_materials) %>

              <div class="accordion" id="materials-groups">
                <% sections.each_with_index do |section_data, index| %>
                  <%= render 'materials_section',
                             section_data: section_data,
                             index: index,
                             character_name: @name %>
                <% end %>
              </div>
            <% end %>
      </main>
    </div>
  </div>
</div>
